<%= simple_form_for(@image) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="mb-6">
    <%= f.input :time_stamp %>
  </div>
  <div class="mb-6">
    <%= f.input :odometer_reading %>
  </div>
  <div class="mb-6">
    <%= f.input :oil_change %>
  </div>
  <div class="mb-6">
    <%= f.label :picture, class: "label" %>
    <div class="dropzone dropzone-default dz-clickable" data-controller="dropzone" data-dropzone-max-file-size="2" data-dropzone-max-files="1">
      <%= f.file_field :picture, direct_upload: true, data: { target: 'dropzone.input' } %>
      <div class="dropzone-msg dz-message needsclick text-gray-600">
        <h3 class="dropzone-msg-title">Drag here to upload or click here to browse</h3>
        <span class="dropzone-msg-desc text-sm">2 MB file size maximum. Allowed file types png, jpg.</span>
      </div>
    </div>
  </div>
  <div class="mb-6">
    <%= f.submit  class: "btn-default btn" %>
  </div>
<% end %>
