<style>
p    {display: inline-block;}
</style>
<div class="flex justify-center p-2">
<div class="max-w-2xl inline-flex flex-col">
<% if @image.processing_status != "completed" %>
    <p>Your report is still processing, please click <%= link_to 'HERE', @image %> to check on it
<% else %>
<p>
  <strong>Oil Mileage:</strong>
  <strong><%= @image.oil_mileage %></strong>
</p>
<p>
<strong>You should change your oil every 7000 miles!</strong>
</p>

<p>
  Date:
  <%= @image.time_stamp.strftime("%m/%d/%y") %>
</p>

<p>
  Oil Change:
  <%= @image.oil_change %>
</p>

<p>
  Odometer reading:
  <%= @image.odometer_reading %>
</p>

<p>
  Last Oil Change:
  <%= @image.last_change %>
</p><br/>

<p>
<%= link_to 'History', images_path %> |
<%= link_to 'New', new_image_path %>
</p>
<% end %>
</div>
</div>