<p id="notice"><%= notice %></p>

<p>
  <strong>Time stamp:</strong>
  <%= @image.time_stamp %>
</p>

<p>
  <strong>Odometer reading:</strong>
  <%= @image.odometer_reading %>
</p>

<p>
  <strong>Oil change:</strong>
  <%= @image.oil_change %>
</p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
